.homebody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}
.search.hide{
    display: none;
}
.filter{
    width: 35px;
    height: 28px;
    align-self: flex-end;
    margin-bottom: 10px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px calc( 3vw - 15px );
    gap: 50px;
    flex-wrap: wrap;
}